<html>
<head>
  <title>Google maps example</title>

  <style>
    #map {width:600px;height:400px;}
    #categories {float:right;}
    #category_list {border: 2px solid #000;}
    #category_list ul {list-style: none inside;}
    #category_list li {list-style-type: none; margin: 5px;}
  </style>
  
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/javascripts/markermanager_packed.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/jquery-1.4.2.js"></script>

    <script type="text/javascript">
        function createMarker(map,point,iconUrl) {
            return new google.maps.Marker({  
                position: point,
                icon: iconUrl
            });
        }

        function toggleMarkers(event) {
            mgr = event.data;
            if (this.checked) {
              mgr.show();
            } else {
              mgr.hide();
            }
        }

        function setupCategory(mgr, data, minZoom, iconUrl) {
            var i = data.length;
            while (i--) {
              var item = data[i];
              var point = new google.maps.LatLng(item.latitude, item.longitude);
              var marker = createMarker(map,point,iconUrl);
              mgr.addMarker(marker, minZoom);
            }
        }

//        var geocoder = new GClientGeocoder();
//        geocoder.setBaseCountryCode("au");
//        var northeast_limit = new GLatLng(-37.80,145.0);
//        var southwest_limit = new GLatLng(-37.85,144.9);
//        geocoder.setViewport(new GLatLngBounds(southwest_limit, northeast_limit));
//        function showAddress(event) {
//          var map = event.data.map;
//          var address = event.data.input.val();
//          geocoder.getLatLng(
//            address,
//            function(point) {
//              if (!point) {
//                alert(address + " not found");
//              } else {
//                map.setCenter(point, 13);
//              }
//            }
//          );
//        }

        function setupMap() {
            var options = {
                zoom: 10,
                center: new google.maps.LatLng(-37.8062649904, 144.96165842),
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(document.getElementById("map"), options);

            var listener = google.maps.event.addListener(map, 'bounds_changed', function(){
                setupMarkers(map);
                google.maps.event.removeListener(listner);
            });
        }

        function setupMarkers(map) {
            var trough = new MarkerManager(map);
            var bin = new MarkerManager(map);
            var hoop = new MarkerManager(map);
            var info = new MarkerManager(map);
            var seat = new MarkerManager(map);
            var drink = new MarkerManager(map);
            var picnic = new MarkerManager(map);
            var rails = new MarkerManager(map);
            var corral = new MarkerManager(map);
            var equip = new MarkerManager(map);
            var bbq = new MarkerManager(map);

            $("#category_list input[name='trough']").bind("change", trough, toggleMarkers);
            $("#category_list input[name='bin']").bind("change", bin, toggleMarkers);
            $("#category_list input[name='hoop']").bind("change", hoop, toggleMarkers);
            $("#category_list input[name='info']").bind("change", info, toggleMarkers);
            $("#category_list input[name='seat']").bind("change", seat, toggleMarkers);
            $("#category_list input[name='drink']").bind("change", drink, toggleMarkers);
            $("#category_list input[name='picnic']").bind("change", picnic, toggleMarkers);
            $("#category_list input[name='rails']").bind("change", rails, toggleMarkers);
            $("#category_list input[name='corral']").bind("change", corral, toggleMarkers);
            $("#category_list input[name='equip']").bind("change", equip, toggleMarkers);
            $("#category_list input[name='bbq']").bind("change", bbq, toggleMarkers);

            google.maps.event.addListener(trough, 'loaded', function(){
                setupCategory(trough, Horse_Trough, 0,
                    'http://google-maps-icons.googlecode.com/files/horseriding.png');
                trough.refresh();
            });
            google.maps.event.addListener(bin, 'loaded', function(){
                setupCategory(bin, Litter_Bin, 19,
                    'http://google-maps-icons.googlecode.com/files/trash.png');
                bin.refresh();
            });
            google.maps.event.addListener(hoop, 'loaded', function(){
                setupCategory(hoop, Hoop, 15,
                    'http://google-maps-icons.googlecode.com/files/bicycleparking.png');    
                hoop.refresh();
            });
            google.maps.event.addListener(info, 'loaded', function(){
                setupCategory(info, Information_Pillar, 0,
                    'http://google-maps-icons.googlecode.com/files/info.png');
                info.refresh();
            });
            google.maps.event.addListener(seat, 'loaded', function(){
                setupCategory(seat, Seat, 19,
                    'http://google-maps-icons.googlecode.com/files/bench.png');
                seat.refresh();
            });
            google.maps.event.addListener(drink, 'loaded', function(){
                setupCategory(drink, Drinking_Fountain, 15,
                    'http://google-maps-icons.googlecode.com/files/drinkingfountain.png');
                drink.refresh();
            });
            google.maps.event.addListener(picnic, 'loaded', function(){
                setupCategory(picnic, Picnic_Setting, 14,
                    'http://google-maps-icons.googlecode.com/files/picnic.png');
                picnic.refresh();
            });
            google.maps.event.addListener(rails, 'loaded', function(){
                setupCategory(rails, Bicycle_Rails, 18,
                    'http://google-maps-icons.googlecode.com/files/bicycleparking.png');
                rails.refresh();
            });
            google.maps.event.addListener(corral, 'loaded', function(){
                setupCategory(corral, Bin_Corral, 14,
                    'http://google-maps-icons.googlecode.com/files/trash.png');
                corral.refresh();
            });
            google.maps.event.addListener(equip, 'loaded', function(){
                setupCategory(equip, Recreation_Equipment_Item, 12,
                    'http://google-maps-icons.googlecode.com/files/basketball.png');
                equip.refresh();
            });
            google.maps.event.addListener(bbq, 'loaded', function(){
                setupCategory(bbq, Barbeque, 14,
                    'http://google-maps-icons.googlecode.com/files/restaurant-barbecue.png');
                bbq.refresh();
            });            
        }

        function initialize() {
            setupMap();

//            var address_input = $("#address_form input[name='address']");
//            $("#address_form input[name='address_submit']").bind("click", {map: map, input: address_input}, showAddress);
        }


        $(initialize);
    </script>

</head>
<body>
<div id="container">
Here's the map:
<!-- This is the element in which the map will be displayed. -->
<div id="categories">
  <form name="category_toggles">
    <ul id="category_list">
      <li><input type="checkbox" name="trough" id="trough" checked="true"><label for="trough">Horse Troughs</label></li>
      <li><input type="checkbox" name="bin" id="bin" checked="true"><label for="bin">Rubbish Bins</label></li>
      <li><input type="checkbox" name="hoop" id="hoop" checked="true"><label for="hoop">Hoops</label></li>
      <li><input type="checkbox" name="info" id="info" checked="true"><label for="info">Information Pillars</label></li>
      <li><input type="checkbox" name="seat" id="seat" checked="true"><label for="seat">Seats</label></li>
      <li><input type="checkbox" name="drink" id="drink" checked="true"><label for="drink">Drinking Fountains</label></li>
      <li><input type="checkbox" name="picnic" id="picnic" checked="true"><label for="picnic">Picnic Settings</label></li>
      <li><input type="checkbox" name="rails" id="rails" checked="true"><label for="rails">Bicycle Rails</label></li>
      <li><input type="checkbox" name="corral" id="corral" checked="true"><label for="corral">Bin Corrals</label></li>
      <li><input type="checkbox" name="equip" id="equip" checked="true"><label for="equip">Recreation Equipment Item</label></li>
      <li><input type="checkbox" name="bbq" id="bbq" checked="true"><label for="bbq">Barbeque</label></li>
    </ul>
  </form>
</div>
<div id="map"></div>
<div id="address_form">
  <label for="address">Centre on address: </label>
  <input type="text" name="address" id="address">
  <input type="submit" name="address_submit">
</div>
</div>
</body>
</html>