<html>
<head>
  <title>Google maps example</title>

  <style>
    #map {width:600px;height:400px;}
    #categories {float:right;}
    #category_list {border: 2px solid #000;}
    #category_list ul {list-style: none inside;}
    #category_list li {list-style-type: none; margin: 5px;}
  </style>
  
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAqWWYRzzIpnWhU1fLcO47mRTJQa0g3IQ9GZqIMmInSLzwtGDKaBSIS5bxhaXo0xdAaGYI6fOtXZbxww" type="text/javascript"></script>
    <script src="/javascripts/markermanager.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/jquery-1.4.2.js"></script>

    <script type="text/javascript">
        function createMarker(point,html) {
            var marker = new GMarker(point);
            GEvent.addListener(marker, "click", function() {
              marker.openInfoWindowHtml(html);
            });
            return marker;
        };

        function toggleMarkers(event) {
            if (this.checked) {
                markers = event.data.list;
                mgr = event.data.manager;
                var i = markers.length;
                while (i--) {
                    mgr.addMarker(markers[i], 0);
                }
                mgr.refresh();
            } else {
                event.data.manager.clearMarkers();
            }
        };


        function setupCategory(map, data, minZoom) {
            var mgr = new MarkerManager(map);
            var list = [];

            var i = data.length;
            while (i--) {
              var item = data[i];
              var point = new GLatLng(item.latitude, item.longitude);
              var marker = createMarker(point,'<h4>' + item.category + '</h4>');
              list.push(marker);
              mgr.addMarker(marker, minZoom);
            }
            mgr.refresh();
            return { manager: mgr, list: list };
        }


        function initialize() {
            var map = new GMap2(document.getElementById("map"));
            map.setCenter(new GLatLng(-37.8062649904, 144.96165842), 10);
            map.setUIToDefault();

            var trough = setupCategory(map, Horse_Trough, 0);
            var bin = setupCategory(map, Litter_Bin, 19);
            var hoop = setupCategory(map, Hoop, 15);
            var info = setupCategory(map, Information_Pillar, 0);
            var seat = setupCategory(map, Seat, 19);
            var drink = setupCategory(map, Drinking_Fountain, 15);
            var picnic = setupCategory(map, Picnic_Setting, 14);
            var rails = setupCategory(map, Bicycle_Rails, 14);
            var corral = setupCategory(map, Bin_Corral, 14);
            var equip = setupCategory(map, Recreation_Equipment_Item, 12);
            var bbq = setupCategory(map, Barbeque, 14);


            $("#category_list input[name='trough']").bind("change", trough, toggleMarkers);
            $("#category_list input[name='bin']").bind("change", bin, toggleMarkers);
            $("#category_list input[name='hoop']").bind("change", hoop, toggleMarkers);
            $("#category_list input[name='info']").bind("change", info, toggleMarkers);
            $("#category_list input[name='seat']").bind("change", seat, toggleMarkers);
            $("#category_list input[name='drink']").bind("change", drink, toggleMarkers);
            $("#category_list input[name='picnic']").bind("change", picnic, toggleMarkers);
            $("#category_list input[name='rails']").bind("change", rails, toggleMarkers);
            $("#category_list input[name='corral']").bind("change", corral, toggleMarkers);
            $("#category_list input[name='equip']").bind("change", equip, toggleMarkers);
            $("#category_list input[name='bbq']").bind("change", bbq, toggleMarkers);

        };

        $(initialize);
    </script>

</head>
<body>
<div id="container">
Here's the map:
<!-- This is the element in which the map will be displayed. -->
<div id="categories">
  <form name="category_toggles">
    <ul id="category_list">
      <li><input type="checkbox" name="trough" checked="true"><label for="trough">Horse Troughs</label></li>
      <li><input type="checkbox" name="bin" checked="true"><label for="bin">Rubbish Bins</label></li>
      <li><input type="checkbox" name="hoop" checked="true"><label for="hoop">Hoops</label></li>
      <li><input type="checkbox" name="info" checked="true"><label for="info">Information Pillars</label></li>
      <li><input type="checkbox" name="seat" checked="true"><label for="seat">Seats</label></li>
      <li><input type="checkbox" name="drink" checked="true"><label for="drink">Drinking Fountains</label></li>
      <li><input type="checkbox" name="picnic" checked="true"><label for="picnic">Picnic Settings</label></li>
      <li><input type="checkbox" name="rails" checked="true"><label for="rails">Bicycle Rails</label></li>
      <li><input type="checkbox" name="corral" checked="true"><label for="corral">Bin Corrals</label></li>
      <li><input type="checkbox" name="equip" checked="true"><label for="equip">Recreation Equipment Item</label></li>
      <li><input type="checkbox" name="bbq" checked="true"><label for="bbq">Barbeque</label></li>
    </ul>
  </form>
</div>
<div id="map"></div>

</div>
</body>
</html>